<h2 mat-dialog-title>{{ data ? 'Atulizar Usuário' :'Incluir Usuário' }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="dadosPessoaisForm" class="example-form" *ngIf="dadosPessoaisForm">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile colspan="3" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error *ngIf="nome.hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cpf</mat-label>
          <input matInput formControlName="cpf" mask="000.000.000-00" [disabled]="cpf.disabled">
          <mat-error *ngIf="cpf.hasError('required')">
            Cpf é obrigatório
          </mat-error>
          <mat-error *ngIf="!cpf.hasError('required') && cpf.hasError('cpfInvalido')">
            Digite um CPF válido
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Profissão</mat-label>
          <input matInput formControlName="profissao">
          <mat-error *ngIf="profissao.hasError('required')">
            Profissão é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Data Nascimento</mat-label>
          <input matInput formControlName="dataNascimento" mask="d0/M0/0000">
          <mat-error *ngIf="dataNascimento.hasError('required')">
            Data Nascimento é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil" [compareWith]="compareOsValoresDoEstadoCivil">
            <mat-option *ngFor="let civil of estadosCivil" [value]="civil">{{ civil.nome }}</mat-option>
          </mat-select>
          <mat-error *ngIf="estadoCivil.hasError('required')">
            Estado Civil é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>UF</mat-label>
          <mat-select formControlName="estado" (valueChange)="carregarIdEstado($event)"
            [compareWith]="compareOsValoresDoEstado">
            <mat-option *ngFor="let estado of estados" [value]="estado">{{ estado.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="estado.hasError('required')">
            Estado é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cidade</mat-label>
          <mat-select formControlName="cidade" [compareWith]="compareOsValoresDoCidade">
            <mat-option *ngFor="let cidade of cidades" [value]="cidade">{{ cidade.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="cidade.hasError('required')">
            Cidade é obrigatório
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeModal()">Cancelar</button>
  <button mat-raised-button (click)="carregarDadosModal()" color="primary" [disabled]="dadosPessoaisForm.invalid">{{
    data ? 'Atualizar': 'Incluir' }}</button>
</mat-dialog-actions>
