<div class="btn-voltar">
  <button mat-fab color="primary" [routerLink]="['/login']" matTooltip="Voltar">
    <mat-icon>west</mat-icon>
  </button>
</div>
<form [formGroup]="usuarioForm">
  <div class="container">
    <h1 class="mat-h1">Registrar</h1>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="email">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Por favor insira um endereço de e-mail <strong>válido</strong>
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('maxlength')">
        A senha deve possuir no máximo <strong>8 caracteres </strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Password é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
        [attr.aria-label]="'hideConfirm confirmPassword'" [attr.aria-pressed]="hideConfirm">
        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.hasError('maxlength')">
        A senha deve possuir no máximo <strong>8 caracteres </strong>
      </mat-error>
      <mat-error *ngIf="confirmPassword.hasError('mustMatch')">
        As senhas devem corresponder
      </mat-error>
      <mat-error *ngIf="confirmPassword.hasError('required')">
        Confirm Password é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="validarUsuario()"
      [disabled]="usuarioForm.invalid">Registrar</button>
  </div>
</form>
